/*product*/
.back-button{
  margin-top: 100px;
  margin-left: 70px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.buttons{
  text-decoration: none;
  color: #000;
}

.container{
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 10%;
  padding: 15px;
  display: flex;
  background-color: transparent;
}
.left-column{
  width: 55%;
  position: relative;
  margin-right: 15px;
  margin-bottom: 30px;
}
.left-column img{
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.3s ease;
}

.right-column{
    width: 45%;
    position: relative;
}

.product-description{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.product-description span{
    font-size: 15px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1{
    font-weight: 500;
    font-size: 52px;
    color: #000;
    letter-spacing: -2px;
}
.product-description p{
    font-size: 12px;
    font-weight: 300;
    color: #000;
    line-height: 20px;
}
.slug-button{
  text-decoration: underline;
  color: #000;
}

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
  }
  .product-price span {
    font-size: 26px;
    font-weight: 500;
    color: #000;
    margin-right: 20px;
  }
  .addtocart-btn {
    display: inline-block;
    background-color: #f4efe9;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .addtocart-btn:hover {
    background-color: #000;
    color: #fff;
  }
  /* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
    .right-column{
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 100%;
      right: 0;
      top: 10px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 100%;
    }
  }